.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  height: fit-content;
  background-color: #eeedef;
}

.svg {
  width: 35px;
  height: 35px;
  color: #293e56;
}

.toggleButton {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.logStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.logStatus:hover p {
  opacity: 0.7;
}

.logStatusMobile {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.logStatusMobile:hover p {
  opacity: 0.7;
}

.profileImageContainer {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.profileImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.usernameTxt {
  font-family: var(--heading);
  font-size: small;
  font-weight: 700;
  color: #293e56;
}

.span {
  font-size: small;
  margin-left: 10px;
  color: #293e56;
}

.span1 {
  font-size: small;
  color: #293e56;
}

@media screen and (max-width: 768px) {
  .logStatus {
    display: none;
  }

  .logStatusMobile {
    display: flex;
  }
}
