.tHead {
  font-size: 0.9rem;
  font-weight: 700;
  color: #293e56;
}

.removeBtn {
  background-color: #f20c0c;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.viewBtn {
  background-color: #5a84ae;
  border: none;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
