.tHead {
  font-size: 0.9rem;
  font-weight: 700;
  color: #293e56;
}

.viewBtn {
  background-color: #f39c12;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
