.tHead {
  font-size: 0.9rem;
  font-weight: 700;
  color: #293e56;
  margin: 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.removeBtn {
  background-color: #f20c0c;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.editBtn {
  background-color: #5a84ae;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
