@import url("../../../../constants/fonts.css");

.container {
  font-family: var(--heading);
  padding: 1.5rem 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #293e56;
  margin: 0;
  margin-bottom: 1.5rem;
}

.subHeading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #293e56;
  margin: 0;
  margin-bottom: 0.3rem;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading);
  padding: 0.5rem 0;
}

.lable {
  font-size: 0.9rem;
  font-weight: 700;
  color: #545454;
  margin: 0;
}

.inputField {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 20px;
  width: 300px;
  color: #f20c0c;
  outline: none;
}
