.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading);
  padding: 0px 0;
}

.input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  color: #545454;
  outline: none;
}
